.bordered {
    width: 500px;
    height: 600px;
    padding: 50px;
    border: 1px solid darkorange;
    border-radius: 8px;
    
  }

  .bordered2 {
    width: 400px;
    height: 300px;
    padding: 60px;
    border: 1px solid darkorange;
    border-radius: 8px;
    
  }